<!DOCTYPE html>
<html ng-app="app" ng-controller="AppController">
<head>
    <title>{{title}}</title>
    <meta charset="UTF-8">
    <link href="css/style.css" rel="stylesheet" type="text/css" />
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
    <script src="app/app.module.js"></script>
    <script src="app/controllers/app.controller.js"></script>
    <script src="app/components/menu/menu.component.js"></script>
    <script src="app/components/details/details.component.js"></script>
</head>
<body>
    <menu-horizontal></menu-horizontal>
    <user-details></user-details>
</body>
</html>
